bin/
obj/
*.user
*.suo
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.nuget.cache
*.nuget.dgspec.json
project.assets.json
*.pdb
*.exe
*.dll
*.cache
*.editorconfig
*.txt
*.log
*.ref
*.refint